<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>DebugMe</title>
</head>
<body>
<div class="container connexion rounded shadow-lg p-4 mb-4">
    <form th:action="@{/questionnaire}" class="form-signin" method="post" accept-charset="utf-8" autocomplete="off">
        Mettre ici le questionnaire
        <button class="btn btn-lg btn-success btn-block" type="submit">Envoyer les réponses</button>
    </form>
    <a role="button" class="btn btn-danger" th:href="${T(com.epsi.guez.debugme.config.ApplicationUrl).CONNEXION}"> Retour </a>
</div>
</body>
</html>