<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>DebugMe</title>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
    <link rel="stylesheet" type="text/css" th:href="@{/css/commun.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/accordeon.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">

    <script type="text/javascript">
        $('document').ready(function () {
            var $accordeons = $(".panel-heading");
            $accordeons.each(function () {
                this.addEventListener("click", function () {
                    var $thisAccordion = $(this).siblings();
                    var $otherAccordions = $(this).parent().parent().find(".panel-body").not($thisAccordion);
                    if ($thisAccordion.css("display") === "block") {
                        $thisAccordion.css("display", "none");
                    } else {
                        $thisAccordion.css("display", "block");
                    }
                    $otherAccordions.each(function () {
                        $(this).css("display", "none");
                    });
                });
            });
        });
    </script>
</head>

<body>
<div th:insert="header :: header"></div>
<div id="head">
    <div id="titre">
        <h1>Questionnaire</h1>
    </div>
</div>
<div id="contenu" class="container rounded text-center font-weight-normal p-4">
    <div class="container">
        <div class="panel-group">
            <div class="my-panel">
                <div class="panel-heading">
                    <div class="panel-title">
                        Créez une classe permettant d'instancier des points dans un espace et de calculer leur distance.
                    </div>
                </div>
                <div class="panel-body" style="display: block">
                    <div class="panel-collapse">
                        Mettre le truc de Peter ici
                    </div>
                </div>
            </div>
            <div class="text-right mt-4 mr-4">
                <a role="button" class="btn btn-info" th:href="${T(com.epsi.guez.debugme.config.ApplicationUrl).QUESTIONNAIRE}"> Envoyer les réponses </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>