/* Style the buttons that are used to open and close the accordion panel */
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

.my-panel {
    border: 1px solid #0097bb;
    border-radius: 3px;
    margin-top: 15px;
}

.my-panel > .panel-heading {
    font-weight: 300;
    color: #fff;
    background-color: #0097bb;
    border: none;
    text-align: center;
    transition: background-color .2s ease-in-out
}

.my-panel > .panel-heading:hover {
    background-color: #0082a2
}

.my-panel > .panel-title {
    color: #fff;
    background-color: #0097bb;
    border-color: #008bac;
    text-align: center
}

.panel-body {
    padding: 25px 15px 15px 15px;
    background-color: #fdfdfe;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-body-lots {
    padding: 25px 15px 15px 15px;
    background-color: #fdfdfe;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 1px solid #ddd
}

.panel-group .panel-footer + .panel-collapse .panel-body {
    border-bottom: 1px solid #ddd
}

.panel-heading {
    background-color: #eee;
    color: #0097bb;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
    cursor: pointer;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.collapse {
    display: none
}

.collapse.in {
    display: block
}
