<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/connexion.css}">
    <title>DebugMe</title>
</head>

<body class="text-center">
<div class="container">
    <div class="d-inline-block">
        <a th:href="@{/connexion}">
            <img src="images/logo.png" alt="Logo" width="150px">
        </a>
        <h1 style="font-family: roboto">DebugMe</h1>
    </div>

    <div class="container connexion rounded shadow-lg p-4 mb-4">
        <form th:action="@{/connexion}" class="form-signin" method="post" accept-charset="utf-8" autocomplete="off">
            <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
            <div>
                <input type="text" name="username" id="username" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
            </div>
            <div>
                <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required>
            </div>
            <div class="message-erreur">
                <p th:if="${param.error}">Le nom d'utilisateur ou le mot de passe est invalide.</p>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Valider</button>
            <br/>
        </form>
    </div>
</div>
</body>
</html>